.insurebig{
    padding: 115px 64px;
}
.insure1_wrapper{
    display: flex;
    justify-content: space-between;
}
.insure_btn h1{
font-size: 40px;
font-weight: 700;
line-height: 42px;
letter-spacing: -0.3571428656578064px;
text-align: left;
color: #33323D;
margin-bottom: 30px;
}
.insure_btn p{
font-size: 15px;
font-weight: 400;
line-height: 30px;
text-align: left;
color: #33323D;
margin-bottom: 23px;
max-width: 350px;
width: 100%;
}
.insure_btn h5{
font-size: 16px;
font-weight: 700;
line-height: 30px;
text-align: left;
color: #5FB4A2;
margin-bottom: 16px;
}
.insure_btn button{
font-size: 12px;
font-weight: 400;
line-height: 14.1px;
letter-spacing: 2px;
text-align: center;
color: #33323D;
width: 178px;
height: 48px;
border: 1px solid #33323D;
background-color: transparent;
}
.insure_btn button:hover{
    background-color: #203A4C;
    color: white;
}
/* .manage_btn hr{
    width: 350px;
height: 1px;
color: #33323D;
margin-bottom: 48px;
} */
.insure_img h1{
font-size: 32px;
font-weight: 400;
line-height: 42px;
letter-spacing: -0.2857142984867096px;
text-align: left;
color: #33323D;
margin-bottom: 26px;  
}
.insure_img p{
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #33323D;
    margin-bottom: 40px; 
    max-width: 635px;
    width: 100%;
}
.insure_img h2{
font-size: 32px;
font-weight: 400;
line-height: 42px;
letter-spacing: -0.2857142984867096px;
text-align: left;
color: #33323D;
margin-bottom: 28px;
}
.insure_img img{
    max-width: 635px;
    width: 100%;
}


     /* Media */

@media(max-width:788px){
    .insure1_wrapper {
        display:block;
    }
}
@media(max-width:768px){
.insure_btn p{
    display: block;
    float: right;
}
}